{% extends '_base.html' %}

{% block extra_css %}
{% endblock %}

{% block extra_head_js %}
{% endblock %}

{% block wide_content %}
<section id="home-screen">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="npr"><img src="img/npr_75x25.png" alt="NPR" /></div>
                <h1><img src="img/inskeep-title.png" alt="{{ COPY.home.title }}" /></h1>
                <p>{{ COPY.home.description }}</p>
                <div class="button-group">
                    <button class="btn btn-blue btn-large btn-block" id="quick-play">{{ COPY.home.quick_play }}</button>
                    <button class="btn btn-blue btn-large btn-block" id="start-quest">{{ COPY.home.start_quest }}</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="game-screen">
    <div class="container">
        <div class="row">
            <div class="span4">

                <nav id="game-header">
                    <h3 id="quest-name">Inskeep&rsquo;s Quest</h3>
                    <div id="game-score">
                        <span class="score">0</span> <i class="icon-star icon-white"></i>
                    </div>
                </nav>

                <h4 id="round-status">
                    Question
                    <span id="turn-number">5</span> of 
                    <span id="turn-count">10</span>
                </h4>

                <div id="after-turn-mode">
                    <div class="turn-status">
                        <p class="turn-points">+<span id="points-won"></span> points.</p>
    
                        <p id="correct-answer">
                            This story is from <span class="answer"></span>!
                        </p>

                        <p id="top-points" class="point-explanation">{{ COPY.game.top_points }}</p>
                        <p id="mid-points" class="point-explanation">{{ COPY.game.mid_points }}</p>
                        <p id="low-points" class="point-explanation">{{ COPY.game.low_points }}</p>
                        <p id="no-points" class="point-explanation">{{ COPY.game.no_points }}</p>
                        <p id="no-points-times-up" class="point-explanation">{{ COPY.game.no_points_times_up }}</p>
                    </div>

                    <div id="story-info">
                        <h3 id="story-title">Story Headline Goes Here</h3>
                        <p id="story-air">
                            <em><span id="story-program">Morning Edition</span></em>,  
                            <span id="story-date">April 20, 2010</span>
                        </p>
                    </div>

                    <div id="audio">
                        <div id="pop-audio" class="jp-jplayer"></div>
                        <div id="jp_container_1" class="jp-audio">
                            <div class="jp-type-single">
                                <div class="jp-gui jp-interface">
                                    <!--<div class="jp-controls">
                                        <a href="javascript:;" class="jp-play nav-btn" tabindex="1"><i class="icon-play icon-white">play</i></a>
                                        <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;"><i class="icon-pause icon-white">pause</i></a>
                                    </div>-->
                                    <div class="jp-progress-container">
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div class="jp-play-bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-current-time"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="button-group">
                        <button class="btn btn-blue btn-large btn-block" id="next-turn">{{ COPY.game.next_turn }}<br/><small>{{ COPY.game.next_turn_encouragement }}</small></button>
                        <button class="btn btn-blue btn-large btn-block" id="finish-round">{{ COPY.game.finish_round }}</button>
                    </div>
                </div>
               
                <div id="turn-mode">
                    <div id="question">Question goes here?</div>
                    <div id="countdown-bar" class="countdown">
                        <div id="countdown-bar-wrap">
                            <div id="countdown-bar-progress"></div>
                        </div>
                        <ul id="countdown-lives">
                            <li><i class="icon-star icon-white">Life</i></li>
                            <li><i class="icon-star icon-white">Life</i></li>
                            <li><i class="icon-star icon-white">Life</i></li>
                        </ul>
                    </div>

                    <div id="game-buttons" class="button-group">
                        <button class="btn btn-blue btn-large btn-block">Choice 1</button>
                        <button class="btn btn-blue btn-large btn-block">Choice 2</button>
                        <button class="btn btn-blue btn-large btn-block">Choice 3</button>
                        <button class="btn btn-blue btn-large btn-block">Choice 4</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="quest-screen">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h2>{{ COPY.quest.title }}</h2>
                <p>{{ COPY.quest.description }}</p>
                <button class="btn btn-blue btn-large btn-block" id="begin-quest">{{ COPY.quest.begin_quest }}</button>
            </div>
        </div>
    </div>
</section>

<section id="round-summary-screen">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h2>{{ COPY.round_summary.title }}</h2>
                <p>You scored <span class="score"></span> out of <span class="max-score"></span> possible.
                <p>{{ COPY.round_summary.description }}</p>
                <div class="button-group">
                    <button class="btn btn-blue btn-large btn-block" id="play-again">{{ COPY.round_summary.play_again }}</button>
                    <button class="btn btn-blue btn-large btn-block" id="challenge-friend">{{ COPY.round_summary.challenge_friend }}</button>
                    <button class="btn btn-blue btn-large btn-block" id="back-to-start">{{ COPY.round_summary.back_to_start }}</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="challenge-friend-screen">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h2>{{ COPY.challenge_friend.title }}</h2>
                <p>{{ COPY.challenge_friend.description }}</p>
                <div class="button-group">
                    <button class="btn btn-blue btn-large btn-block">{{ COPY.challenge_friend.twitter }}</button>
                    <button class="btn btn-blue btn-large btn-block">{{ COPY.challenge_friend.facebook }}</button>
                    <button class="btn btn-blue btn-large btn-block" id="back-to-summary">{{ COPY.challenge_friend.back_to_summary }}</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_foot_js %}
	{{ JS.push('js/lib/signals.js') }}
	{{ JS.push('js/lib/hasher.js') }}
	{{ JS.push('js/lib/crossroads.js') }}
	{{ JS.push('js/lib/jquery.jplayer.js') }}
	{{ JS.push('js/questions.js') }}
{% endblock %}
