{% extends '_base.html' %}

{% block extra_css %}
{% endblock %}

{% block extra_head_js %}
	{{ JS.push('js/lib/jquery.jplayer.js') }}
	{{ JS.push('js/lib/popcorn.ie8.js') }}
	{{ JS.push('js/lib/popcorn.js') }}
	{{ JS.push('js/lib/popcorn.code.js') }}
{% endblock %}
{% block extra_head %}{% endblock %}


{% block wide_content %}
<section id="home-screen">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>Name That News</h2>
                <p>Blah blah</p>
            </div>
        </div>
    </div>
</div>

<section id="game-screen">
    <div class="container">
        <div class="row">
            <div class="span12">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
