{% extends '_base.html' %}

{% block extra_css %}
{% endblock %}

{% block extra_head_js %}
{% endblock %}

{% block wide_content %}
<section id="home-screen">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="npr"><img src="img/npr_75x25.png" alt="NPR" /></div>
                <h1>Name That News</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                <button class="btn btn-blue btn-large btn-block" id="quick-play">Quick Play</button>
                <button class="btn btn-blue btn-large btn-block" id="start-quest">Start Your Quest</button>
            </div>
        </div>
    </div>
</section>

<section id="game-screen">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="game-header">
                    <img src="img/npr_75x25.png" alt="NPR" />
                    <h3>Name That News</h3>
                </div>

                <h2>Round 1: Random Stories</h2>
                <div id="round-status">
                    <span id="round-item">5</span> of 
                    <span id="round-total">10</span>
                </div>
                
                <div id="story-info">
                    <h3 id="story-title">Story Headline Goes Here</h3>
                    <p id="story-byline">Reporter: [Name Name]</p>
                    <p id="story-air">
                        <em><span id="story-program">Morning Edition</span></em>, 
                        <span id="story-date">April 20, 2010</span>
                    </p>
                    <p id="duration">3 min, 20 sec</p>
                </div>

                <div id="audio">
                    <div id="pop-audio" class="jp-jplayer"></div>
                    <div id="jp_container_1" class="jp-audio">
                        <div class="jp-type-single">
                            <div class="jp-gui jp-interface">
                                <!--<div class="jp-controls">
                                    <a href="javascript:;" class="jp-play nav-btn" tabindex="1"><i class="icon-play icon-white">play</i></a>
                                    <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;"><i class="icon-pause icon-white">pause</i></a>
                                </div>-->
                                <div class="jp-progress-container">
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar">
                                            <div class="jp-play-bar"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jp-current-time"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="game-buttons">
                    <ul>
                        <li><button class="btn btn-blue btn-large btn-block">Choice 1</button></li>
                        <li><button class="btn btn-blue btn-large btn-block">Choice 2</button></li>
                        <li><button class="btn btn-blue btn-large btn-block">Choice 3</button></li>
                        <li><button class="btn btn-blue btn-large btn-block">Choice 4</button></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="quest-screen">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h2>Quest screen!</h2>
                <p>Blah blah</p>
            </div>
        </div>
    </div>
</section>

<section id="round-summary-screen">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h2>You're Done!</h2>
                <p>Blah blah</p>
                <button class="btn" id="challenge-friend">Challenge A Friend</button>
                <button class="btn" id="back-to-start">Back To Start</button>
            </div>
        </div>
    </div>
</section>

<section id="challenge-friend-screen">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h2>Challenge A Friend!</h2>
                <button class="btn">Twitter</button>
                <button class="btn">Facebook</button>
                <button class="btn" id="back-to-summary">Back To Summary</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_foot_js %}
	{{ JS.push('js/lib/signals.js') }}
	{{ JS.push('js/lib/hasher.js') }}
	{{ JS.push('js/lib/crossroads.js') }}
	{{ JS.push('js/lib/jquery.jplayer.js') }}
	{{ JS.push('js/questions.js') }}
{% endblock %}
